

:root {
    --accent: #f0a6b5;
    --accent-opaque: rgba(175, 65, 87, 0.502); 
    --bg: var(--accent);
    --text: #8d3754;
    --header-start: #7e3042;
    --header-end: #7a2f48;
}


body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;

  display: flex; /*transforma o body em um flex container = caixa que organiza os elementos dentro dela*/
  justify-content: center; /*centraliza horizontal*/
  align-items: center; /*centraliza vertical*/
  height: 100vh;

}

/*quadrado no meio da tela bonitinho*/
.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/*deixar o btão bonitinho*/
input {
  padding: 8px;
  width: 70%;
  margin-top: 10px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
}

.overlay {
    background: var(--accent-opaque);
}


h1 {
    color: rgb(131, 53, 67);
}


.button,
button {
    background: var(--accent);
    color: rgb(48, 16, 17);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

header {
    background: linear-gradient(90deg, var(--header-start) 0%, var(--header-end) 100%);
}
