/* Deixa as variáveis prontas pra usar certinho */
:root {
    --cor-principal: #f0a6b5;
    --outra-cor: rgba(175, 65, 87, 0.502); 
    --bg: var(--cor-principal);
    --texto: #8d3754;

}


body {
  background-color: var(--bg); /* lá no root*/
  color: var(--texto); /* lá no root*/
  margin: 50;
  font-family: 'Quicksand', sans-serif;/*deixa a fonte mais bonita*/

  display: flex; /*transforma o body em um flex container = caixa que organiza os elementos dentro dela*/
  justify-content: center; /*centraliza horizontal*/
  align-items: center; /*centraliza vertical*/
  height: 100vh;

}

/*quadrado no meio da tela bonitinho(pega o card lá no index*/
.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}


input {
  padding: 8px;
  width: 70%;
  margin-top: 10px;
}

/*deixar o botão menor*/
#lista button {
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
}

#lista button { /*deixar o btão espaçado*/
  margin-left: 8px;
}

h1 {
    color: rgb(131, 53, 67);
}


.button,
button {
    background: var(--cor-principal); /*pega a cor do accent lá no root*/
    color: rgb(48, 16, 17);
    border: none;
    padding: 0.5rem 1rem; 
    cursor: pointer; /* Mãozinha */
}

.flor {
  position: fixed;
  top: -20px;
  font-size: 24px;
  animation: cair 5s linear forwards;
  pointer-events: none;
}

@keyframes cair {
  to {
    transform: translateY(110vh);
  }
}

